* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .gpd-cnt{
    padding:0;
  }
  #i9hv{
    color:#fa8600;
    margin:0 0 0;
  }
  #io6d{
    background-color:#875d5d;
    max-width:1000px;
    width:800px;
  }
  .gpd-header{
    margin:0;
  }
  #i3vi{
    text-align:center;
    padding:10px 0 10px 0;
    margin:0 0 0 20px;
    border-radius:10px 10px 10px 10px;
  }
  #iu30f{
    display:none;
  }
  #iazu2{
    display:none;
  }
  #iee3x{
    max-width:350px;
  }
  #i49j{
    background-color:#d4abaa;
    color:#000000;
    max-width:500px;
    padding:20px 20px 20px 20px;
    margin:0 0 50px 150px;
  }
  #imct3{
    border:0 solid #25b268;
  }
  #i564s{
    padding:10px 20px 10px 20px;
    margin:0 0 0 20px;
    background-color:#f78a26;
    border:3px solid #70c3cf;
  }
  #inp7r{
    margin:0 0 0 180px;
    padding:15px 30px 15px 30px;
    background-color:#f78a26;
    border:5px solid #ffcc97;
  }
  #iuor9{
    background-color:#ffecec;
    width:400px;
    margin:0 0 0 30px;
  }
  #iqo1k{
    padding:10px 20px 10px 20px;
    margin:0 0 0 40px;
    background-color:#f78a26;
    border:3px solid #70c3cf;
  }
  #iuq5f{
    padding:10px 20px 10px 20px;
    margin:0 0 0 40px;
    background-color:#f78a26;
    border:3px solid #70c3cf;
  }
  #i36ua{
    padding:10px 20px 10px 20px;
    margin:0 0 0 40px;
    background-color:#f78a26;
    border:3px solid #70c3cf;
  }
  #ig4ob{
    max-width:350px;
  }
  